<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="adviser">
      <h2 data-cy="adviserDetailsHeading"><span jhiTranslate="jhipsteronlinemysqlgradleApp.adviser.detail.title">Adviser</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ adviser.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsteronlinemysqlgradleApp.adviser.registrationNumber">Registration Number</span></dt>
        <dd>
          <span>{{ adviser.registrationNumber }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsteronlinemysqlgradleApp.adviser.company">Company</span></dt>
        <dd>
          <span>{{ adviser.company }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsteronlinemysqlgradleApp.adviser.department">Department</span></dt>
        <dd>
          <span>{{ adviser.department }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsteronlinemysqlgradleApp.adviser.user">User</span></dt>
        <dd>
          <span>{{ adviser.user?.login }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsteronlinemysqlgradleApp.adviser.bank">Bank</span></dt>
        <dd>
          <div *ngIf="adviser.bank">
            <a [routerLink]="['/bank', adviser.bank?.id, 'view']">{{ adviser.bank?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/adviser', adviser.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
